<div class="row">
  <div class="col-xs-1-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control" value="">
        </div>
        <div class="col-sm-2 from-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" class="form-control" value="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" name="add">Add</button>
          <button type="button" class="btn btn-danger" name="delete">Delete</button>
          <button type="button" class="btn btn-primary" name="clear">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
