<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
    </div>
  </div>
</div>
<div class="button-group">
  <button class="btn btn-default" (click)="toggle()"> Display Details </button>
</div>
<div class="paragraph" [ngClass]="{hide_element: show === false}">
  <p> <span class="glyphicon glyphicon-flash"></span>
   My Paragraph is this </p>
</div>
<div *ngFor="let item of toggles; let i = index" [attr.data-index]="i">
  <p [ngStyle]="{backgroundColor: getColor(i)}"
     [ngClass]="{upto_fifth: i >= 4}"
  >  Toggle: {{i+1}} : {{item}}  </p>  
</div>
